<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'app.kPayShare.share.your.payments'|trans }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header id="main-header">

        </header>
        <nav id="main-nav">
            <nav class="main-nav-element">
                LINK 1
            </nav>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
